<!DOCTYPE html>
{% load static %}
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="La pagina oficial del casino del duoc algo nunca antes visto la comidita duocana es la mejor que ricooooooooo">
    <meta name="author" content="Andres silva - Benjamín Ruiz - Andrus Maldonado" />
    <title>Mi cuenta</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'styles/estlioscuenta.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Casino:index' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="{% url 'Casino:menu' %}">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Casino:mi_perfil' %}">Servicios</a>
                  </li>
                </ul>
              </div>
              <h1 id="titulo"><span id="palabra2"></span>ServiExpress</h1>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </nav>
    </header>
    <section>
      <h1>Servicios Ofrecidos</h1>
      <br>
      <div class="container">
  
        <div class="row">
          <div class="col-4">
            <div class="card" style="width: 20  rem;">
              <img src="{% static 'images/cambio_neumaticos.jpeg' %}" class="card-img-top" alt="Servicios taller" width="200" height="415">
              <div class="card-body">
                <h5 class="card-title">Cambio de neumáticos</h5> 
            </div>
            <button>Agendar hora</button>
            </div>
            <br><br>
          </div>
  
          <div class="col-4">
            <div class="card" style="width: 20  rem;">
              <img src="{% static 'images/cambiar-aceite-auto.jpg' %}" class="card-img-top" alt="Servicios taller" width="200" height="415">
              <div class="card-body">
                <h5 class="card-title">Cambio de aceite</h5>
            </div>
            <button>Agendar hora</button>
            </div>
  
          </div>
  
          <div class="col-4">
            <div class="card" style="width: 20  rem;">
              <img src="{% static 'images/cambio-de-color-de-auto.jpg' %}" class="card-img-top" alt="Servicios taller" width="200" height="415">
              <div class="card-body">
                <h5 class="card-title">Cambio de color</h5>
            </div>
            <button>Agendar hora</button>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 20  rem;">
              <img src="{% static 'images/polarizado.jpg' %}" class="card-img-top" alt="Servicios taller" width="200" height="415">
              <div class="card-body">
                <h5 class="card-title">Polarizado</h5>
            </div>
            <button>Agendar hora</button>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 20  rem;">
              <img src="{% static 'images/mantenimiento.jpg' %}" class="card-img-top" alt="Servicios taller" width="200" height="415">
              <div class="card-body">
                <h5 class="card-title">Mantenimiento</h5>
            </div>
            <button>Agendar hora</button>
            </div>
          </div>
  
          <div class="col-4">
            <div class="card" style="width: 20  rem;">
              <img src="{% static 'images/rayo.jpg' %}" class="card-img-top" alt="Servicios taller" width="200" height="415">
              <div class="card-body">
                <h5 class="card-title">tuneada a piso</h5>
            </div>
            <button>Agendar hora</button>
            </div>
          </div>
        </div>
      </div>
      </br>
      </br>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <footer>
      <h3>Contacto</h3>  
      <p><i class="fas fa-map-marker-alt"></i> Acario Cotapos 3055, Alerce, Chile</p>
      <p><i class="fas fa-envelope"></i> Taller@ServiExpress.cl</p>
      <p><i class="fas fa-phone"></i> +56946224990</p>
      <p>© 2023, ServiExpress</p>
      <p>Todos los derechos reservados.</p>
  </footer>
  </body>
</html>